@use "variables" as var;
@use "./breakpoints" as mix;
//// Front End - Developer/////////////
.content__FED {
  height: 30vh;
  display: grid;
  place-items: center;
  margin-bottom: -100px;
  @include mix.desktop {
    margin-bottom: -160px;
  }

  h2 {
    width: 300px;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: var.$font-stack;
    font-size: 1.7em;
    letter-spacing: 0px;
    @include mix.desktop {
      font-size: 2.7em;
      width: 485px;
      margin-top: -170;
    }
  }
}

@keyframes typing {
  from {
    width: 30;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
