@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Koulen");

$font-stack: "Lato", sans-serif;
$font-secondary: "Koulen";
$font-FED: "Koulen";

$primary-color: darkgray;
$secondary-color: black;
$third-color: rgb(29, 126, 45);
$forth-color: white;

$background: linear-gradient(
  0deg,
  rgba(175, 144, 214, 1) 0%,
  rgba(7, 78, 156, 1) 51%,
  rgba(147, 78, 167, 1) 100%
);

// linear-gradient(83deg, rgba(182,110,110,1) 0%, rgba(250,104,31,1) 35%, rgba(230,203,203,1) 100%);
