@use "mixins/variables" as var;
@use "./mixins/breakpoints" as mix;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;

  &__icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    @include mix.desktop {
      width: 200px;
      flex-direction: row;
      margin: 50px;
    }
  }
  &__navigation {
    &--links {
      font-family: var.$font-stack;
      color: var.$secondary-color;
      text-align: center;
      margin-left: 20px;
    }
    &--links:hover {
      color: white;
    }
  }
}
.contact__icons {
  @include mix.desktop {
    margin-left: -170px;
    margin-top: 140px;
  }
}

.bi {
  font-size: 100px;
  text-decoration: none;
  @include mix.desktop {
    margin-left: 200px;
    font-size: 200px;
  }
}
.bi:hover {
  text-decoration: none;
  color: var.$forth-color;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}
#contact-title {
  font-size: 5.5em;
  padding: 0;
  margin: 0;
}
