@use "mixins/variables" as var;
@use "./mixins/breakpoints" as mix;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__navigation {
    &--links {
      font-family: var.$font-stack;
      color: var.$secondary-color;
      text-align: center;
      margin-left: 20px;
    }
    &--links:hover {
      color: white;
    }
  }
}

.bi {
  font-size: 100px;
  text-decoration: none;
}
.bi:hover {
  opacity: 0%;
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#contact-title {
  font-size: 5.5em;
  padding: 0;
  margin: 0;
}
