@use "mixins/variables" as var;
@use "mixins/animation" as animation;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

html {
  font-size: 14pt;
  font-family: "Halvetica";
}
body {
  margin: 0;
  background: var.$background;
}
.navbar {
  padding: 0;
}
.navbar-brand:first-child {
  color: rgb(29, 126, 45);
  margin-left: 6px;
  font-weight: bold;
  font-family: var.$font-stack;
}
.navbar-brand:not(:first-child) {
  font-size: 1em;
}

.big-title {
  color: black;
  font-size: 6.3em;
  font-family: var.$font-secondary;
  padding-top: 40px;
  padding-bottom: 0;
  margin-bottom: -15px;
  margin-left: 70px;
}

main {
  display: flex;
  justify-content: center;
  //align-items: center;
  flex-direction: column;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
      font-size: 0.76em;
      width: 90vw;
      padding-top: 30px;
      margin-bottom: 30px;
      padding-right: 10px;
      margin-left: 10px;
      font-style: bold;
      font-family: var.$font-stack;
      color: var.$secondary-color;
    }

    // &__div {  ////ska endast synas i dataläge
    //   background-color: white;
    //   width: 240px;
    //   height: 300px;
    //   margin-left: 75px;
    // }
  }
  .main-nav {
    display: flex;
    width: 100vw;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;

    &__text {
      text-decoration: none;
      color: var.$secondary-color;
      font-size: 6.3em;
      font-family: var.$font-secondary;
      line-height: 100%;
    }
    &__text:hover {
      text-decoration: none;
      color: white;
    }
  }
}
footer {
  //inte ha i mobilen?
  background-color: white;
}
