@use "mixins/variables" as var;
@use "mixins/breakpoints" as mix;

.work {
  //work section
  display: flex;
  flex-direction: column;
  align-items: center;

  .big-title {
    color: black;
    font-size: 6.3em;
    font-family: var.$font-secondary;
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: -15px;
    margin-left: 0px;
  }
  .work-navigation {
    display: flex;
    justify-content: center;
    &__links {
      text-align: center;
      font-family: var.$font-stack;
      color: var.$secondary-color;
      margin-left: 20px;
    }
    &__links:hover {
      color: white;
      cursor: pointer;
    }
  }
  .projects {
    //all projects
    display: flex;
    flex-direction: column;
  }
  .allProjects {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include mix.desktop {
      flex-direction: row;
      flex-wrap: wrap;
      display: inline-grid;
    }
    &__wrapper {
      &--photo {
        width: 370px;
        margin-bottom: -30px;
        display: block;
        @include mix.desktop {
          width: 600px;
          display: inline;
        }
      }
      &--photo:hover {
        opacity: 40%;
        cursor: pointer;
      }
    }
  }
}

.allProjects__wrapper1,
.allProjects__wrapper2,
.allProjects__wrapper3,
.allProjects__wrapper4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mix.desktop {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }
}
.clickedText {
  font-size: 0.75em;
  text-align: center;
  font-family: var.$font-stack;
  color: var.$secondary-color;
  margin-bottom: 14px;
  padding: 7px;
}
.clickedHead {
  font-size: 1em;
  font-family: var.$font-stack;
  color: var.$forth-color;
  margin-bottom: 0;
}
.clickedKey {
  color: var.$secondary-color;
  font-family: var.$font-stack;
}
.clickedLink {
  border: 1px solid black;
  padding: 6px;
  margin-bottom: 10px;
}
.clickedLink:nth-child(2) {
  margin-bottom: 50px;
}
.clickedLink:hover {
  color: var.$forth-color;
}

#todo-phone,
#tshirt-phone,
#recreate-phone,
#iomdb-phone {
  display: none;
  @include mix.desktop {
    display: inline;
  }
}

#todo-phone-img,
#tshirt-phone-img,
#iomdb-phone-img,
#recreate-phone-img {
  width: 400px;
  display: none;
  height: 350px;
  padding-right: -300px;
  margin: 0;
  @include mix.desktop {
    display: inline;
  }
}

#todo-mobile,
#iomdb-mobile,
#recreate-mobile,
#tshirt-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hej {
  margin-bottom: -60px;
  @include mix.desktop {
    color: black;
    margin-left: 46%;
  }
}

.hej:first-child {
  margin-top: 30px;
  @include mix.desktop {
    margin-top: 50px;
  }
}
